
.main{
    margin-top: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}
.search{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}