body{
    margin: 0;
}

.red{
    background: #c71226;
    height: 100px;
   
}

.blue{
    background: #0d1b88;
    height: 100px;
    margin: 10px 0px 10px 0px;
}

.green{
    background: #397327;
    height: 100px;
}