.card{
    display: block;
    background: lightgray;
    width: 300px;
    margin: 50px auto 0 auto ;

    border: 2px solid  rgb(7, 78, 54);
    border-radius: 20px;

    padding: 20px;
}

.status-button{
    border: 1px solid #cfd9de;
    border-radius: 16px;
    color : #0f1419;
    background: white;
    padding: 10px 16px;
    font-weight: bold;
    display: block;
    width: 100px;
    margin: 10px auto 0 auto
}