.card{
    display: block;
    background: lightgray;
    width: 300px;
    margin: 50px auto 0 auto ;

    border: 2px double  rgb(3, 63, 43)(0, 255, 221);
    border-radius: 20px;

    padding: 20px;

}